.felicitaciones-block{
	margin-bottom: 150px;
	float: left;
	width: 100%;
	h1{
		margin-top: 60px;
		margin-bottom: 0;
	}
	h2{
		font-size: 18px;
		font-weight: 400;
		color: $gray;
		margin-top: 13px;
		margin-bottom: 0;
	}
	
	.add-btn{
		margin-top: 133px;
	}
}