.login-page {
	background-image: url('../images/login-background.png');
	background-position: center 0;
	background-size: cover;
	background-repeat: no-repeat;
}
.login-block {
  	.header {
		padding: 2rem 0 5rem 0;
		text-align: center;

		.title {
			padding: 0;
			font-weight: bolder;
			font-size: 32px;
			line-height: 1;
			margin-top: 115px;
			margin-bottom: 10px;
			color: #fff;
		}

		.sub {
			padding: 0;
			font-size: 22px;
			color: #fff;
			width: 270px;
			margin: 0 auto;
		}
	}

	.loginForm {
		width: 362px;
		margin: 0 auto;
		position: relative;

		.text-danger {
			position: absolute;
			left: 0;
			top: -30px;
		}
	}

	.form-group {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0 0 30px;

		.btn-success {
			width: 100%;
		}
	}
	.checkbox {
		float: left;
		width: 100%;
		margin: -10px 0 0;
		label {
			color: #fff;
			font-weight: 300;
			font-size: 16px;
		}
	}
	.submit-block {
		margin-top: 30px;
		margin-bottom: 14px;
	}
	.title-bottom {
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		a {
			font-weight: 500;
			color: #fff;
		}
	}
}

