@import "./theme/main.scss";
@import "./Login.scss";
@import "./Navbar.scss";
@import "./Sidebar.scss";
@import "./Profile.scss";
@import "./Members.scss";
@import "./StepOne.scss";
@import "./StepOneForm.scss";

@import "./theme/fonts.scss";

@import "./theme/variables.scss";

.app {
	.btn-primary {
		background-color: $lightGreen;
	    border-color: $lightGreen;
    }
}

.appContent {
  padding-bottom: 10rem;
}
