.allUsers {
  padding: 1rem 2rem 20rem 2rem;

  .heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-align: center;

    .headingIcon {
      font-size: 44px;
    }

    .headingText {
      margin: 1rem 0;
      font-size: 22px;
    }

    .subHeading {
      font-family: 'Quattrocento Sans', sans-serif;
      font-weight: normal;
      font-size: 16px;
    }
  }

  .searchHeading {
    .back {
      float: left;
      cursor: pointer;
      color: #009245;

      span {
        margin-right: 1rem;

        &:first-child {
          position: relative;
          top: 2px;
        }
      }
    }

    .keyword {
      float: right;
    }
  }

  .searchBar {
    a:focus {
      outline: none !important;
    }

    :global(.btn-link:focus),
    :global(.btn-link:hover) {
      text-decoration: none !important;
    }

    label {
      font-size: 16px;
    }

    .searchInput,
    :global(.dropdown) {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 20px;
    }

    :global(.dropdown-toggle) {
      padding: 0.5rem 0;
    }

    .searchInput {
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }

      @media (min-width: 992px) {
        width: 40%;
      }
    }

    .submitBtn {
      float: right;
      padding: 0.5rem 2rem;
    }
  }

  .noResult {
    padding-top: 40px;
    text-align: center;
    color: #cecece;

    div:first-child {
      font-size: 60px;
    }

    div:last-child {
      margin-top: 10px;
      font-style: italic;
    }
  }

  .users {
    width: 100%;
    padding: 0;
    margin: 0;

    .user {
      margin-bottom: 2rem;
      text-align: center;
    }

    .userAvatar {
      display: flex;
      width: 100px;
      height: 100px;
      border: 1px solid #cecece;
      border-radius: 100px;
      margin: 0 auto;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .userName {
      margin-top: 1rem;
      font-family: 'Raleway', sans-serif;
      font-weight: bolder;
      font-size: 16px;
      color: #4a4a4a;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .userSlash {
      font-family: 'Raleway', sans-serif;
      font-weight: bolder;
      font-size: 14px;
      color: #009245;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .userLocation {
      margin-top: 5px;
      font-weight: bolder;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .loading {
    margin: 2rem 0 4rem 0;
    text-align: center;
  }
}