.navBar {
  background: #f6f6f6;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  z-index: 1;
  height: 60px;
  margin-bottom: 0;

  .brand-logo {
    float: left;
    margin-top: 22px;

    @media (min-width: 768px) {
      .mob {
        display: block;
      }

      .web {
        display: none;
      }
    }

    @media (min-width: 992px) {
      .mob {
        display: none;
      }

      .web {
        display: block;
      }
    }
  }
  .right-nav{
  	margin-top: 7px;
  	> li{
  		float: left;
  		a{
	  		font-size: 14px;
	  		color: #4a4a4a;
	  		float: left;
	  		width: 100%;
	  		&:hover{
	  			background-color: transparent;
	  		}
	  	}
  	}
  }

  .navItem {
    position: relative;
    top: 2px;
  }

  .profile {
    font-family: 'Raleway';
    color: #444444;
  }

  .avatar {
    position: relative;
    height: 2.5rem;
    border-radius: 100%;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    top: -0.15rem;
  }

  .unreadCount {
    background-color: #009245;
    border-radius: 10px;
    padding: 0.1rem 1rem;
    margin-left: 1rem;
    font-family: 'Raleway';
    color: #ffffff;

    &.menu {
      float: right;
      position: relative;
      top: -0.2rem;
    }
  }

  .incBtn {
    position: relative;
    top: 0.7rem;
    padding: 0.5rem 1rem;
    margin-left: 1.5rem;
  }

  :global(.btn-link) {
    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  :global(.dropdown.btn-group) {
    top: 0.4rem;
  }

  :global(.dropdown-menu > .active > a) {
    color: #000 !important;
    background-color: #fff !important;
  }

  :global(.dropdown-menu > .active > a:hover),
  :global(.dropdown-menu > .active > a:focus) {
    color: #262626 !important;
    background-color: #f5f5f5 !important;
  }
  .signup-link{
  	img{
  		float: left;
  		margin-right: 9px;
  		width: 12px;
  		margin-top: 4px;
  	}
  }
}
