.profile {
  padding: 1rem 2rem 20rem 2rem;

  .back {
    cursor: pointer;
    color: #009245;

    span {
      margin-right: 1rem;

      &:first-child {
        position: relative;
        top: 2px;
      }
    }
  }

  a,
  a:focus,
  a:hover {
    text-decoration: none !important;
  }

  .card {
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;

    .avatar {
      width: 15rem;
      height: 15rem;
      border: 1px solid #cecece;
      border-radius: 100%;
      margin: 1rem auto;
    }

    .fullName {
      height: 5rem;
      margin-top: 4rem;
      font-family: 'Raleway', sans-serif;
      font-size: 3.2rem;
      font-weight: bold;
      line-height: 3.6rem;
    }

    .slashContainer {
      font-family: 'Raleway', sans-serif;
      font-size: 1.6rem;
      font-weight: bold;

      .slash {
        color: #009245;
      }
    }

    .location {
      margin-top: 2rem;
      font-weight: bolder;
      color: #009245;

      span.mapIcon {
        position: relative;
        top: 0.3rem;
        margin-right: 0.5rem;
        font-size: 2rem;
        color: #000000;
      }
    }

    .url {
      margin: 2rem;
      font-family: 'Raleway', sans-serif;
      font-size: 1.6rem;
      font-weight: bold;

      a {
        color: #adadad !important;
      }
    }

    .desc {
      font-size: 1.6rem;
      color: #4a4a4a;
    }

    .dispositions {
      margin: 2rem 0 1rem 0;
      padding: 0;
      list-style: none;

      .disposition {
        display: inline-block;
        background-color: #009245;
        border-radius: 20px;
        padding: 0.5rem 2rem;
        margin: 0.5rem;
        color: #ffffff;
      }
    }

    .prof {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }

    .positionContainer {
      margin-top: 3rem;
      text-align: left;
    }

    .logo {
      width: 100px;
      height: 100px;

      img {
        width: 100px;
      }
    }

    .position {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }

    .companyName {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      color: #009245;
    }

    .companyUrl {
      font-family: 'Raleway', sans-serif;
      font-size: 1.6rem;
      font-weight: bold;

      a {
        color: #adadad !important;
      }
    }
  }
}