
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
	height: 100%;
	font-family: $openSans;
	font-size: 16px;
}
a{
	&:hover{
		color: $green;
	}
}
body.opened{
	overflow: hidden;
}
.col-100{
	width: 100%;
}
.row{
	margin-bottom: 0;
}
// Helper classes
.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-40{
	margin-top: 40px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-60{
	margin-top: 60px;
}
.m-b-0{
	margin-bottom: 0;
}
.m-b-10{
	margin-bottom: 10px;
}
.heading-1{
	font-size: 40px;
	font-weight: 300;
	color: $dark-gray;
}
.heading-2{
	font-size: 50px;
	font-weight: 700;
	color: $dark-gray;
}
input[type=text],input[type=email],input[type=password],input[type=number]{
	height: 50px;
	border-color: $sliver;
	box-shadow: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 400;
	color: $dark-gray;
	font-family: $openSans;
}
textarea.form-control{
	height: 123px;
	resize:none;
	border-color: $sliver;
	box-shadow: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 400;
	color: $dark-gray;
	font-family: $openSans;
}
.btn-success{
	background-color: $green;	
	&:hover{
		background-color: #13AB17;
	}
}
.btn{
	font-family: $openSans;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	height: 50px;
	&.sm{
		height: 36px;
		padding-top: 0;
		padding-bottom: 0;
	}	
	&.btn-secondary{
		border: 2px solid #979797;
		color: $dark-gray;
	}
	&.btn-gray{
		background-color: #D8D8D8;
		color: #555459;
		font-size: 20px;
		font-weight: 700;
	}
}
a.btn{
	&.btn-gray{
		padding-top: 11px;
	}
}
.plus-icon{
	display: inline-block;
	width: 41px;
	height: 41px;
	background-color: $green;
	border-radius: 50%;
	text-align: center;
	font-style: normal;
	&:before{
		content: '+';
		font-size: 48px;
		color: $white;
		font-family: $montserrat;
		line-height: 38px;
	}
}
.add-btn{
	display: inline-block;
	color: $dark-gray;
	font-size: 20px;	
	i{
		float: left;
	}
	span{
		float: left;
		margin-top: 12px;
		margin-left: 15px;
	}
}
.Select-control{
	height: 50px;
	border-color: $sliver;
	.Select-placeholder, .Select-value{
		line-height: 2.4 !important;
		font-size: 20px;
		font-weight: 400;
		color: $dark-gray;
		font-family: $openSans;
	}	
}
.main-wrap{
	min-height: 100%;
}
.rounded-link{
	width: 132px;
	height: 36px;
	border: 2px solid #979797;
	border-radius: 6px;
	color: #4A4A4A !important;
	text-align: center;
	line-height: 1.9;
	&:hover{
		color: $green !important;
		border-color: $green;
	}
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 4px;
  margin: 0 1px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}