/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$gray: #9B9B9B;
$dark-gray: #4A4A4A;
$offwhite: #F8F8F8;
$darkOffwhite: #e1e1e1;
$darkGray: #5C5C5C;
$lightGray: #7E7E7E;

// family
$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// functions

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin rotate($rotate...) {
    -webkit-transform: rotate($rotate);  
        -ms-transform: rotate($rotate);
            transform: rotate($rotate);
}

